<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="
    theme-color" content="#000000">
    <link rel="manifest" href="/app/manifest.json">
    <link rel="shortcut icon" href="/app/new_logo.png">
    <script>
        BUILDERX_VERSION = "3.1.24"
    </script>
    <link href="./static/css/2.02fa900c.css" rel="stylesheet">
    <link href="./static/css/main.e1c6a8c6.css" rel="stylesheet">
    <title>BuilderX 1337 Offline</title>
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta name="description" content="">
    <meta property="og:site_name" content="BuilderX.io">
    <meta name="keywords" content="BuilderX">
    <meta property="og:image"
        content="{{ local_url }}/api/get-files-content/q1wzt9rh0004ws8co4k0oc40og8co0?fileName=/.thumbnail.png">
    <meta property="og:url" content="{{ local_url }}/app/q1wzt9rh0004ws8co4k0oc40og8co0">
    <script>
        bxEnv = {
            "BUILDERX_APP_SENTRY_DSN": "https://9cacd9f1ac5043c7aa25b0329e89799e@sentry.io/1306171",
            "BUILDERX_APP_ENVIRONMENT": "development",
            "BUILDERX_APP_PORT_START": "8969",
            "BUILDERX_GA_TRACKING_ID": "UA-126658222-2",
            "BUILDERX_API_URL": "{{ local_url }}/api",
            "BUILDERX_WEBSITE_URL": "{{ local_url }}",
            "BUILDERX_STRIPE_PUBLIC_KEY": "pk_live_Ti3vrNRmQk8iNqoG4hS0sah7",
            "BUILDERX_FONT_API_KEY": "AIzaSyDtAkRP6x3fUEb3Xm56P4mNPkmD5ASkLyc",
            "BUILDERX_APP_URL": "{{ local_url }}/app",
            "BUILDERX_APP_PORT_END": "8978",
            "BUILDERX_WEBSITE_SENTRY_DSN": "https://5cdb8c8c2196456a86e4a5531c6a499e@sentry.io/1433635",
            "BUILDERX_PROJECT_IMAGE": "{{ local_url }}/api/get-files-content/q1wzt9rh0004ws8co4k0oc40og8co0?fileName=/.thumbnail.png",
            "BUILDERX_PROJECT_URL": "{{ local_url }}/app/{{ project_id }}"
        };
    </script>

    <script>
        function addXhrCallback(callback) {
            if (!XMLHttpRequest.callback) {
                const oldopen = XMLHttpRequest.prototype.open;
                XMLHttpRequest.prototype.open = function() {
                    var args = XMLHttpRequest.callback(this, arguments);
                    oldopen.apply(this, args || arguments);
                };
            }
            XMLHttpRequest.callback = callback;
        }
        
        document.addEventListener("load", function() {
            addXhrCallback((req, args) => {
                if (~args[1].indexOf("localhost")) {
                    args[1] = args[1].replace("https://", "http://");
                }
                return args;
            });
        });

    </script>
</head>

<body style="background-color:#171a21"><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="/app/static/js/bundle.js"></script>
    <script src="./static/js/runtime~main.827813d1.js"></script>
    <script src="./static/js/2.2da19dda.chunk.js"></script>
    <script src="./static/js/main.bd63a6a3.chunk.js"></script>
</body>

</html>